// Customized
// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;

// Enable a centered viewport for <header>, <main>, <footer> inside $enable-semantic-container 
$enable-viewport: false;

// Enable .classes
$enable-classes: false;

// Pico Lib
// --------------------

// Config
@import "pico-1.5.9/scss/variables";

// Theming
@import "pico-1.5.9/scss/themes/default";

// Layout
@import "pico-1.5.9/scss/layout/document"; // html
@import "pico-1.5.9/scss/layout/sectioning"; // body, header, main, footer
@import "pico-1.5.9/scss/layout/container"; // .container, .container-fluid
//@import "pico-1.5.9/scss/layout/section"; // section
//@import "pico-1.5.9/scss/layout/grid"; // .grid
//@import "pico-1.5.9/scss/layout/scroller"; // figure

// Content
@import "pico-1.5.9/scss/content/typography"; // a, headings, p, ul, blockquote, ...
//@import "pico-1.5.9/scss/content/embedded"; // audio, canvas, iframe, img, svg, video
@import "pico-1.5.9/scss/content/button"; // button, a[role=button], type=button, type=submit ...
//@import "pico-1.5.9/scss/content/form"; // input, select, textarea, label, fieldset, legend
//@import "pico-1.5.9/scss/content/form-checkbox-radio"; // type=checkbox, type=radio, role=switch
//@import "pico-1.5.9/scss/content/form-alt-input-types"; // type=color, type=date, type=file, type=search, ...
//@import "pico-1.5.9/scss/content/table"; // table, tr, td, ...
//@import "pico-1.5.9/scss/content/code"; // pre, code, ...
@import "pico-1.5.9/scss/content/miscs"; // hr, template, [hidden], dialog, canvas

// Components
//@import "pico-1.5.9/scss/components/accordion"; // details, summary
//@import "pico-1.5.9/scss/components/card"; // article
//@import "pico-1.5.9/scss/components/modal"; // dialog
@import "pico-1.5.9/scss/components/nav"; // nav
//@import "pico-1.5.9/scss/components/progress"; // progress
//@import "pico-1.5.9/scss/components/dropdown"; // dropdown

// Utilities
//@import "pico-1.5.9/scss/utilities/loading"; // aria-busy=true
//@import "pico-1.5.9/scss/utilities/tooltip"; // data-tooltip
//@import "pico-1.5.9/scss/utilities/accessibility"; // -ms-touch-action, aria-*
//@import "pico-1.5.9/scss/utilities/reduce-motion"; // prefers-reduced-motion
